doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../dist/main.css')
    title Домашнее задание E13.7
    script(defer='' src='main.js')
    link(href='main.css' rel='stylesheet')
  body
    p Contacts
    ul#ul1
    p Adress
    ul#ul2
